@page "/"

@inject HttpClient api


<PageTitle>Index</PageTitle>

Welcome to your new app.

Category Name: @catName

Category Description: @catDesc

<a href="/ProductList">Product List</a>


@code
{
    string? catName, catDesc;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Category? cat = await api.GetFromJsonAsync<Category>($"api/category/1");

        if (cat is not null)
        {
            catName = cat.Name;
            catDesc = cat.Description;
        }
    }
}