@page "/"

@inject HttpClient api

Welcome to your new app.

<br/>

Product count: @productCount

<a href="/ProductList">Product List</a>;


@code
{
    int? productCount;

    List<Product>? productsList;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        productsList = await api.GetFromJsonAsync<List<Product>>($"api/product/getlist");

        if (productsList != null)
        {
            productCount = productsList.Count;
        }
    }
}